body {
    font-family: Arial;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;    
}

main { 
    max-width: 500px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px; 
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px; 
    border-radius: 4px;
    box-sizing: border-box;
}

 
.form-group {
    margin-bottom: 15px;
}

.radio-group {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.radio-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
}

.btn {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
 
#submitBtn {
    background-color: blue;
}

#submitBtn:hover {
    background-color: lightblue;
}

#consent {
    margin-right: 8px;
}
 